.product__card {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    height: 18rem;
    width: 14rem;
    background: #FFFFFF;
    border: 1px solid rgba(173, 173, 173, 0.25);
    border-radius: 0, 1875rem;
    margin: 1rem;
    /* Inside auto layout */
    display: block;
}

.product__name {
    color: #253D4E;
    font-size: 1rem;
    line-height: 0.05rem;
    font-weight: 600;
}

.product__image {
    width: 14rem;
    height: 8rem;
}

.product__category {
    font-size: 0.75rem;
    color: #ADADAD;
    line-height: 0.1rem;
    font-family: 'Quicksand';
    font-weight: 400;
}

.product__info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    line-height: 1.25rem;
    font-weight: 600;
    padding-bottom: 15px;
    line-height: 0.5;
}

.product__rating {
    height: 15px;
    width: 100px;
}

.product__price {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 0.9rem;
    color: #2e2e2e;
}